---
import { getCollection, getEntry } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import PageTitle from '../../components/PageTitle.astro'
import { filterPostCollection, generateSocialImages, getPostTitle } from '../../utils'
import Image from '../../components/Image.astro'
import ArticleMeta from '../../components/ArticleMeta.astro'
import Markdown from '../../components/Markdown.astro'
import SEO from '../../components/SEO.astro'
import SeriesInfo from '../../components/SeriesInfo.astro'

export async function getStaticPaths() {
  const posts = await getCollection('posts', filterPostCollection)

  return posts.map((post) => {
    return { params: { slug: post.slug } }
  })
}

const { slug } = Astro.params
const post = await getEntry('posts', slug)
const { Content, remarkPluginFrontmatter } = await post.render()
const title = await getPostTitle(post)
// @ts-expect-error
const heroImagePath: string | undefined = post.data.hero?.image.fsPath
const socialImages = await generateSocialImages(title, post.slug, heroImagePath)
const tags = post.data.tagsWithSlugs
---

<Layout title={title}>
  <SEO slot="head" post={post} socialImages={socialImages} />
  <PageTitle>{title}</PageTitle>
  <ArticleMeta
    postData={post.data}
    readingTime={remarkPluginFrontmatter.readingTime}
    class="-mt-14 mb-14 text-center"
  />
  {
    post.data.hero ? (
      <div class="-mt-8 mb-8 w-full max-w-[720px] mx-auto relative">
        <Image
          src={post.data.hero.image}
          alt={post.data.hero.alt}
          width={post.data.hero.image.width / 2}
          loading="eager"
          placeholder="blur"
          densities={[1, 2]}
          quality="min"
          class="max-w-full w-full rounded shadow"
          style={{ aspectRatio: post.data.hero.image.width / post.data.hero.image.height }}
        />
        <p class="absolute bottom-0 right-0 z-10 text-xs mb-[5px] mr-0.5">
          <a href={post.data.hero.credit} class="p-1 bg-black/80 rounded-sm text-gray-100">
            Credit: Unsplash
          </a>
        </p>
      </div>
    ) : null
  }
  {post.data.series ? <SeriesInfo id={post.data.series.id.id} /> : null}
  <Markdown>
    <Content />
    {
      tags ? (
        <>
          <hr />
          <div class="not-prose flex gap-6 mx-3 -mt-8 mb-8">
            {tags.map((tag) => (
              <a
                href={`/tags/${tag.slug}`}
                class="bg-blue-50 dark:bg-blue-100 text-blue-950 text-xs font-semibold pl-3.5 pr-2.5 py-1 font-monospace no-underline relative"
              >
                <div class="absolute right-full top-0 h-0 w-0 border-y-[12px] border-y-transparent border-r-[12px] border-r-blue-50" />
                <div class="absolute rounded-full bg-blue-950 size-1 left-0.5 top-1/2 -mt-0.5" />
                {tag.label}
              </a>
            ))}
          </div>
        </>
      ) : null
    }
  </Markdown>
</Layout>
