---
import { Image } from 'astro:assets'
import { getCollection, getEntry } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import PageTitle from '../../components/PageTitle.astro'
import { filterPostCollection, generateSocialImages, getPostTitle } from '../../utils'
import ArticleMeta from '../../components/ArticleMeta.astro'
import Markdown from '../../components/Markdown.astro'
import SEO from '../../components/SEO.astro'
import SeriesInfo from '../../components/SeriesInfo.astro'

export async function getStaticPaths() {
  const posts = await getCollection('posts', filterPostCollection)

  return posts.map((post) => {
    return { params: { slug: post.slug } }
  })
}

const { slug } = Astro.params
const post = await getEntry('posts', slug)
const { Content, remarkPluginFrontmatter } = await post.render()
const title = await getPostTitle(post)
const socialImages = await generateSocialImages(title, post.slug)
---

<Layout title={title}>
  <SEO slot="head" post={post} socialImages={socialImages} />
  {
    post.data.hero ? (
      <div
        class="peer hero -z-10 col-[1/4] relative md:absolute max-h-48 md:max-h-none"
        slot="hero"
      >
        <Image
          src={post.data.hero.image}
          alt={post.data.hero.alt}
          width={post.data.hero.image.width / 2}
          densities={[1, 2]}
          quality="mid"
          class="max-w-full min-w-[100vw]"
        />
        <div class="hidden md:block absolute left-0 right-0 bottom-0 h-[10%] bg-gradient-to-t from-white dark:from-surface-dark to-transparent" />
      </div>
    ) : null
  }
  <PageTitle>{title}</PageTitle>
  <ArticleMeta
    postData={post.data}
    readingTime={remarkPluginFrontmatter.readingTime}
    class="-mt-14 mb-14 text-center"
  />
  {post.data.series ? <SeriesInfo id={post.data.series.id.id} /> : null}
  <Markdown>
    <Content />
  </Markdown>
</Layout>
