.pagination
  a.pagination__link.pagination__link--previous(
    href=page.prev === 1 ? '/' : page.prev_link 
    disabled=page.prev === 0
  ) 
    | Newer Articles
    
  p Page #{page.current} of #{page.total}
  
  a.pagination__link.pagination__link--next(
    href=page.next_link
    disabled=page.next === 0
  ) 
    | Older Articles
