---
import type { CollectionEntry } from 'astro:content'
import ArticleMeta from './ArticleMeta.astro'
import { isPublishedPost } from '../utils'

interface Props {
  post: CollectionEntry<'posts'>
  showCategory?: boolean
}

const { post, showCategory } = Astro.props
const { remarkPluginFrontmatter } = await post.render()
const isDraft = !isPublishedPost(post)
---

<article class="mb-12">
  <h1 class="text-3xl mb-1.5 text-sky-600 dark:text-sky-500 font-display">
    <a href={`/posts/${post.slug}`}>
      {isDraft ? '(Draft) ' : ''}
      {post.data.title}
    </a>
  </h1>
  <!-- @ts-expect-error -->
  <ArticleMeta
    postData={post.data}
    readingTime={remarkPluginFrontmatter.readingTime}
    showCategory={showCategory}
    class="mb-3"
  />
  <p>{remarkPluginFrontmatter.excerpt}</p>
</article>
