---
import { getEntry, type CollectionEntry, getCollection } from 'astro:content'
import { isDraft, sortPostsByPublishDate } from '../utils'
import Link from './Link.astro'

interface Props {
  id: CollectionEntry<'series'>['id']
}

const { id } = Astro.props
const series = await getEntry('series', id)
const posts = (await getCollection('posts', (post) => post.data.series?.id.id === id))
  .toSorted(sortPostsByPublishDate)
  .toReversed()
const hasDraftPosts = posts.some((post) => isDraft(post.data.date))
---

<ul
  role="list"
  class="divide-y divide-gray-100 dark:divide-gray-700 rounded-md border border-gray-200 dark:border-gray-600 -mt-8 mb-8 max-w-xl mx-auto"
>
  <li class="py-2.5 px-4 leading-6 font-display bg-sky-50 dark:bg-sky-950 rounded-t-md">
    <p>{series.data.name} ({posts.length} Part Series)</p>
    {
      series.data.description ? (
        <p class="text-sm text-slate-600 dark:text-slate-300 font-body my-0.5">
          {series.data.description}
        </p>
      ) : null
    }
  </li>
  {
    posts.map((post, index) => {
      const { isDraft } = post.data
      return (
        <li class="py-4 px-6 leading-6 font-display">
          <div class="flex items-center gap-3">
            <span
              class:list={[
                'rounded-full text-sm font-bold size-6 flex items-center justify-center',
                isDraft ? 'bg-slate-300 text-slate-800' : 'bg-sky-700 text-white',
              ]}
            >
              {index + 1}
            </span>
            {isDraft ? (
              <span class="italic text-slate-500 dark:text-slate-300">
                {post.data.title} (Coming soon...)
              </span>
            ) : (
              <Link href={`/posts/${post.slug}`}>{post.data.title}</Link>
            )}
          </div>
        </li>
      )
    })
  }
  {
    !hasDraftPosts && !series.data.complete ? (
      <li class="py-2.5 px-4 leading-6 font-display">
        <div class="flex items-center gap-3">
          <span class="italic text-slate-500">And more coming soon...</span>
        </div>
      </li>
    ) : null
  }
</ul>
